<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Article Details</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr>
			<td>articleName: </td>
    		<td th:text="${article.articleName}" />
    	</tr>
    	<tr>
			<td>manufactor: </td>
    		<td th:text="${article.manufactor}" />
    	</tr>
    	<tr>
			<td>price: </td>
    		<td th:text="${article.price}" />
    	</tr>
    	<tr>
			<td>articleType: </td>
    		<td th:text="${article.articleType}" />
    	</tr>
    	<tr>
			<td>stockQuantity: </td>
    		<td th:text="${article.stockQuantity}" />
    	</tr>
    	<tr>
    		<td><a th:href="@{/service_main/article_service/article/action/(action=edit,articleid=${article.articleId})}"> [✎] </a>
    		<td><a th:href="@{/service_main/article_service/article/action/(action=delete,articleid=${article.articleId})}"> [🗑] </a>
    		<td><a href="/service_main/article_service/article"> [←] </a>
    	</tr>
    </table>
</body>
</html>