<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create New Customer</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<form action=/service_main/customer_service/customer/action/create/perform>
	<label for="firstname"> Firstname: </label>
	<input type="text" id="firstname" name="firstname"><br><br>
	
	<label for="lastname"> Lastname: </label>
	<input type="text" id="lastname" name="lastname"><br><br>
	
	<label for="username"> Username: </label>
	<input type="text" id="username" name="username"><br><br>
	
	<label>Address:</label>
	
	<label for="street"> Street: </label>
	<input type="text" id="street" name="street"><br><br>
	
	<label for="number"> Number: </label>
	<input type="text" id="number" name="number"><br><br>
	
	<label for="postalcode"> Postalcode: </label>
	<input type="text" id="postalcode" name="postalcode"><br><br>
	
	<label for="city"> City: </label>
	<input type="text" id="city" name="city"><br><br>
	
	<input type="submit" value="Create">
</form>
</body>
</html>