<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Shop Service</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr>
    		<td>ArticleService</td>
    		<td><a href="/service_main/article_service"> [→] </a></td>
    	</tr>
    	<tr>
    		<td>(Do not use! This only uses Article Microservice!)</td>
    	</tr>
    </table>
<hr>
    <table>
		<tr>
    		<td>CustomerService</td>
    		<td><a href="/service_main/customer_service"> [→] </a></td>
    	</tr>
    	<tr>
    		<td>(Do not use! This only uses Customer Microservice!)</td>
    	</tr>
    </table>
<hr>
    <table>
    	<tr>
    		<td>ShopService</td>
    		<td><a href="/service_main/shop_service"> [→] </a></td>
    	</tr>
    </table>
</body>
</html>